<nav class="navbar navbar-default navbar-static-top">
    <div class="container">

        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li class="dropdown">
                    <a class="dropdown-toggle menu-text" data-toggle="dropdown" role="button" aria-haspopup="true"
                       aria-expanded="false">
                        Cadastro<span class="caret"/>
                    </a>
                    <ul class="dropdown-menu">
                        <li>
                            <a class="menu-text" href="#/restaurant"> <span
                                    class="glyphicon glyphicon-map-marker menu-icon" aria-hidden="true"></span>
                                Restaurantes
                            </a>
                        </li>
                        <li role="separator" class="divider"></li>
                        <li>
                        <a class="menu-text" href="#/voter-list"> <span class="glyphicon glyphicon-user menu-icon"aria-hidden="true"></span>
                        Votantes
                        </a>
                        </li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a class="dropdown-toggle menu-text" data-toggle="dropdown" role="button" aria-haspopup="true"
                       aria-expanded="false">
                        Votação<span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li>
                            <a class="menu-text" href="#/strawPoll"> <span
                                    class="glyphicon glyphicon-check menu-icon" aria-hidden="true"></span>
                                Votação Atual
                            </a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>