<ol class="breadcrumb">
    <li><a href="/">Início</a></li>
    <li class="active">Votação</li>
</ol>
<div class="row">
    <div class="col-xs-12 col-md-6">
        <h1>Votação : {{currentPoll.name}}</h1>
    </div>
</div>

<button type="submit" class="btn btn-primary"
        style=" margin: 10px; width: 120px;"
        data-toggle="modal"
        data-toggle="tooltip" title="Nova votação só abilita após 11 AM, ou caso não exista uma."
        data-target="#novoVotacao"
        ng-disabled="!showForm">Nova Votação
</button>
<button type="button" class="btn btn-primary"
        data-toggle="modal"
        data-target="#vencedor"
        data-toggle="tooltip" title="Mostrar Vencedor, só será contabilizado depois das 11 AM."
        ng-click="getWinner()"
        ng-disabled="!show"
        style="margin: 10px; width: 120px;">
    Vencedor
</button>
<button type="submit" class="btn btn-primary"
        style="margin: 10px; width: 120px;"
        data-toggle="modal"
        ng-disabled="currentPoll.name == null"
        data-toggle="tooltip" title="Realizar um voto na votação atual dentre o periodo de 23:59PM - 11AM."
        data-target="#novoVoto">Votar
</button>

<div class="table-responsive">
    <table class="table table-striped table-bordered table-hover">
        <thead>
        <tr>
            <th>Nome</th>
            <th>Local</th>
            <th>Quantidade de Votos</th>

        </tr>
        </thead>
        <tbody>
        <tr data-ng-if="!currentPoll.restaurantList.length">
            <td colspan="5" class="text-center">Nenhum restaurante adicionado</td>
        </tr>

        <tr ng-repeat='item in currentPoll.restaurantList'>
            <td>{{item.name}}</td>
            <td>{{item.location}}</td>
            <td><span class="badge">{{item.totalVotes}}</span></td>
        </tr>

        </tbody>
    </table>
</div>
<div class="modal fade" id="novoVotacao">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Nova Votação</h4>
            </div>
            <div class="modal-body">
                <form novalidate name="formNewPoll" class="row" ng-submit="addNewPoll()">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Nome</label>
                            <input id="name" type="text" name="name" class="form-control" ng-model="newPoll.name">
                        </div>
                        <button type="submit" class="btn btn-primary" style="width: 120px;">Nova Votação</button>
                        <button type="submit" class="btn btn-primary" data-dismiss="modal">
                            Fechar
                        </button>

                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="novoVoto">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Novo Voto</h4>
            </div>
            <div class="modal-body">
                <form novalidate name="formNewVote" class="row" ng-submit="addNewVote()">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Email</label>
                            <input type="text" name="name" class="form-control" ng-model="newVote.email" required>
                        </div>

                        <div class="form-group">
                            <label>Restaurante</label>
                            <select name="restaurant" ng-model="newVote.idRestaurant" class="form-control"
                                    ng-options="item.id as (item.name | uppercase) for item in avaliableRestaurant">
                                <option value="">Escolha um Restaurante</option>
                            </select>
                            <button type="submit" style="margin: 10px;" class="btn btn-primary">
                                Votar
                            </button>
                            <button type="submit" style="margin: 10px;" class="btn btn-primary" data-dismiss="modal">
                                Fechar
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="vencedor">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">V E N C E D O R</h4>
            </div>
            <div class="modal-body">
                <div class="modal-body">
                    <div uib-alert template-url="alert.html"
                         style="background-color:#5cb85c;color:#080808">
                        <h2>O Vencedor é o restaurante : {{winner.name}}</h2>
                    </div>
                    <div uib-alert template-url="alert.html"
                         style="background-color:#5cb85c;color:#080808;margin-top: 10px;">
                        <h2>Com um total de : {{winner.votes}} votos</h2>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">OK</button>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <div uib-alert template-url="alert.html"
                     style="background-color:#5cb85c;color:#080808">
                    <h2>O Vencedor é o restaurante : {{winner.name}}</h2>
                </div>
                <div uib-alert template-url="alert.html"
                     style="background-color:#5cb85c;color:#080808;margin-top: 10px;">
                    <h2>Com um total de : {{winner.votes}} votos</h2>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">OK</button>
            </div>
        </div>
    </div>
</div>
